.products {
  display: flex;
  flex-wrap: wrap;
}

.products .product {
  margin: 2rem;
  padding: 1rem;
}

.products .product.hover {
  background-color: var(--imageBackgroundColor);
  padding-bottom: 1.5rem;
}

.products .tags .tag {
  border: 1px solid var(--mainBorderColor);
  padding: 0.5rem 1.5rem;
  display: inline-block;
  margin: 0.25rem;
}

.tag:hover {
  cursor: pointer;
  background-color: var(--secondaryColor);
}

.product img {
  width: 300px;
  height: 300px;
}

.product .card {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
}

.products .product .card .card-title .add-to-cart {
  position: absolute;
  bottom: 85%;
  left: 20%;
  cursor: pointer;
}

.card-title {
  border: 1px solid black;
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  background-color: var(--secondaryColor);
}